@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis-Light.ttf); }
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf); }
.icons1 {
  width: 1vw;
  height: 5px;
  font-size: .5rem;
  text-align: center;
  color: #999999; }

.topBar-icons {
  width: 111px;
  height: 15px;
  font-size: 15px; }

.icon {
  width: 22px;
  height: 23px;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.downArrow {
  width: 29px;
  height: 16px;
  font-family: Linearicons-Free;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-top: 16vw;
  margin-left: -5vw;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-duration: 1.5s; }

@keyframes arrow {
  from {
    margin-top: 10vw;
    opacity: .1; }
  to {
    margin-top: 16vw;
    opacity: 1; } }
.aboutIcons {
  color: #666666; }

.fa-shopping-cart {
  cursor: pointer; }

.icons {
  margin: 7vw 6vw; }
  .icons i {
    padding-right: 1vw; }

.contact-icon {
  position: absolute;
  margin: .5vw 15vw;
  width: 22px;
  height: 37px;
  font-size: 36px;
  line-height: 0.58;
  text-align: center;
  color: #090803; }

.share {
  position: absolute;
  margin-top: -1.7vw;
  margin-left: 3vw;
  width: 107px;
  height: 14px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #666666; }
  .share i {
    padding-right: .5vw; }

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 1;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 0;
  color: #000000d2;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  font-size: 2vw; }

#back2Top:hover {
  color: #ac907f;
  transition: 1s; }

.badge {
  margin-top: -2vw;
  margin-left: -2vw; }

.header-container {
  width: 100%;
  height: 100vh;
  background-color: #666666;
  background: linear-gradient(#3d3d3d88, #3d3d3dda), url(../images/woman-streetwear-crouching.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.topBar {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }

.lang-cur {
  width: 13px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  color: #999999; }

.shipping {
  width: 349px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999; }

.topBar-icons {
  width: 349px;
  height: 9px;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999; }

.home {
  margin-left: 3vw; }

.lookBook {
  margin-right: 3vw; }

.logo {
  width: 117px;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 5.5px;
  text-align: left;
  color: #fffefe; }

.heading {
  width: 597px;
  height: 38px;
  font-family: Dosis;
  font-size: 50px;
  line-height: 0.96;
  text-align: center;
  color: #ffffff;
  margin-left: 33vw;
  margin-top: 13vw;
  text-transform: uppercase; }

.intro {
  width: 924px;
  height: 39px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #e6e6e6;
  margin-left: 23.5vw; }

.btn-1 {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  margin-left: 45vw;
  margin-top: 4vw;
  border: none; }

.btnText {
  font-size: 11px;
  letter-spacing: 1.5px;
  text-align: center;
  text-transform: uppercase; }
  .btnText a {
    text-decoration-line: none;
    color: #ffffff;
    font-family: "Source Sans Pro"; }

.featuredProducts {
  width: 100%;
  height: 10.5rem; }
  .featuredProducts .alignment {
    margin: 0 5vw; }
  .featuredProducts h2 {
    width: 313px;
    height: 24px;
    font-family: "Source Sans Pro";
    font-size: 36px;
    line-height: 1.33;
    text-align: center;
    color: #333333;
    margin-left: 39vw;
    margin-top: -8vw;
    position: absolute; }
  .featuredProducts h5 {
    width: 158px;
    height: 18px;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin: 0vw 8vw; }
  .featuredProducts h6 {
    width: 52px;
    height: 11px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.2;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    margin: 1vw 10.5vw; }
  .featuredProducts .bottomBorder {
    width: 50px;
    height: 3px;
    background-color: #a88d7b;
    margin-left: 46vw;
    margin-top: -5vw;
    position: absolute; }

.new {
  width: 80%;
  height: 26.0625rem;
  background-color: #ffffff; }

.newCollection h1 {
  margin-left: 41vw;
  position: absolute;
  width: 265px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333; }
.newCollection div {
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  margin-left: 47vw;
  margin-top: 5vw;
  position: absolute; }

.men {
  grid-row: 2 / 2;
  width: 49px;
  height: 16px;
  font-family: "Source Sans Pro";
  font-size: 25px;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b;
  margin-top: 0vw;
  margin-left: 21vw; }

.women {
  grid-row: 2 / 2;
  width: 91px;
  height: 16px;
  font-family: "Source Sans Pro";
  font-size: 25px;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b;
  margin-top: 0vw;
  margin-left: 13vw; }

.box1 {
  width: 100%;
  height: 552px;
  opacity: 0.9;
  background-color: #666666;
  background-image: linear-gradient(#00000088, #000000da), url(../images/street-wear-male.jpg);
  background-size: cover;
  background-attachment: fixed; }

.info4 {
  margin-top: 2vw;
  width: 530px;
  height: 37px;
  font-family: Dosis;
  font-size: 48px;
  line-height: 0.5;
  text-align: center;
  color: #ffffff;
  padding-top: 12.4375rem;
  padding-left: 27.0625rem; }

.para2 {
  width: 656px;
  height: 38px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
  padding-left: 22.0625rem; }

.btn2 {
  width: 150px;
  height: 40px;
  background-color: #a88d7b;
  border: none;
  margin-left: 38.0625rem;
  margin-top: 4vw; }

.btnText2 {
  width: 73px;
  height: 10px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: center;
  color: black;
  margin-top: 0vw;
  margin-left: 2vw;
  text-transform: uppercase; }

.ourBlog {
  position: absolute;
  margin-left: 45vw;
  width: 156px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333; }

.bottomBorder2 {
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  margin-left: 48vw;
  margin-top: 5vw;
  position: absolute; }

.box2 {
  width: 100%;
  height: 671px;
  background-color: #f9f9f9; }

.image6 {
  width: 100%;
  height: 405px;
  margin-left: 15vw;
  margin-top: 10vw; }

.content {
  margin-top: 9vw;
  width: 100%;
  height: 23px;
  font-family: "Source Sans Pro";
  font-size: 25px;
  line-height: 1.92;
  text-align: left;
  color: #333333; }
  .content h5 {
    margin-bottom: 4vw;
    width: 117px;
    height: 14px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    line-height: 3.2;
    text-align: left;
    color: #999999; }
  .content p {
    margin: 0%;
    width: 529px;
    height: 239px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 1.67;
    text-align: left;
    color: #666666; }
  .content h6 {
    margin-top: -3vw;
    width: 85px;
    height: 10px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 3.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #a88d7b; }
  .content a {
    text-decoration-line: none; }
  .content .lnr-arrow-right {
    position: absolute;
    margin-top: -2.2vw;
    margin-left: 7vw;
    width: 15px;
    height: 11px;
    font-size: 15px;
    line-height: 3.2;
    text-align: left;
    color: #a88d7b; }

.contactDetails {
  padding-top: 1vw;
  padding-left: 10vw; }
  .contactDetails h1 {
    width: 117px;
    height: 30px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #e5e5e5; }
  .contactDetails h2 {
    width: 232px;
    height: 18px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999; }

.links {
  margin-top: 3vw;
  margin-left: -2vw; }
  .links h1 {
    width: 46px;
    height: 30px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #e5e5e5; }
  .links h2 {
    height: 33px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999; }

.shop {
  margin-top: 3vw;
  margin-left: -2vw; }
  .shop h1 {
    width: 45px;
    height: 30px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #e5e5e5; }
  .shop h2 {
    width: 25px;
    height: 33px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999; }

.instagram {
  margin-top: 3vw;
  margin-right: 13vw;
  margin-left: -5vw; }
  .instagram h1 {
    width: 91px;
    height: 30px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff; }
  .instagram .insta1 {
    background-image: url(../images/instagram-vince-menzani.jpg);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta2 {
    background-image: url(../images/instagram.jpg);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta3 {
    background-image: url(../images/instagram-Feifei.jpg);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta4 {
    background-image: url(../images/instagram-high-streetwear-fashion.jpg);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta5 {
    background-image: url(../images/instagram--simple-outfits-casual-outfits.jpg);
    background-size: cover;
    background-position: center;
    margin-top: .2vw;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta6 {
    background-image: url(../images/--streetwear-clothing-streetwear-fashion.jpg);
    background-size: cover;
    background-position: center;
    margin-top: .2vw;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta7 {
    background-image: url(../images/instagram-street.jpg);
    background-size: cover;
    background-position: center;
    margin-top: .2vw;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta8 {
    background-image: url(../images/--street-fashion-men-summer-mens-hipster-fashion-summer.jpg);
    background-size: cover;
    background-position: center;
    margin-top: .2vw;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }

.about-header {
  background-image: linear-gradient(#00000088, #000000da), url(../images/girl-1209333_640.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.about-topBar {
  width: 100%;
  height: 53px;
  background-color: #eeeeee; }
  .about-topBar div {
    text-align: center;
    text-transform: uppercase;
    padding-top: .9rem;
    padding-right: .2rem;
    color: #999999; }

.about-nav {
  height: 35px;
  margin-left: -2vw; }
  .about-nav .aboutLogo {
    margin-right: 17vw;
    width: 116px;
    height: 22px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.6563rem;
    text-align: left;
    color: #000000; }
  .about-nav li {
    padding: 1vw; }
  .about-nav a {
    color: #666666; }
  .about-nav a:hover {
    text-decoration-line: none; }

.about-header {
  width: 100%;
  height: 445px;
  background-color: #666666;
  margin-top: 2vw; }
  .about-header h1 {
    width: 251px;
    height: 35px;
    font-family: "Source Sans Pro";
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    margin: 8vw 43vw;
    position: absolute; }
  .about-header h3 {
    width: 119px;
    height: 13px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc;
    margin: 12vw 46.5vw;
    position: absolute; }
  .about-header a {
    color: white;
    text-decoration: none; }
  .about-header a:hover {
    text-decoration: none; }

.aboutUs .paragraphs {
  margin-top: 1vw;
  width: 524px;
  height: 89px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666;
  margin-left: 6vw; }
.aboutUs h1 {
  margin: 3vw 9vw;
  width: 196px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #333333; }
.aboutUs .about-image {
  width: 540px;
  height: 405px;
  background-color: #666666;
  margin-top: 3vw;
  background-image: linear-gradient(#00000088, #000000da), url(../images/adults-black-and-white-casual.jpg);
  background-size: cover;
  background-position: center; }

.borderBottom {
  width: 50px;
  height: 2px;
  background-color: #ac907f;
  margin-left: 12vw;
  margin-top: -2vw; }

.team {
  width: 75%;
  height: 24rem;
  background-color: #ffffff; }
  .team h1 {
    position: absolute;
    width: 242px;
    height: 24px;
    font-family: "Source Sans Pro";
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    margin-top: -5.5vw;
    margin-left: 34vw; }
  .team h2 {
    position: absolute;
    height: 19px;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.4;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
    margin: 0 5vw; }
  .team .borderBottom2 {
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #ac907f;
    margin-left: 40.7vw;
    margin-top: -2vw; }
  .team div {
    width: 270px;
    height: 305px;
    background-color: #666666;
    margin: 0 auto; }
  .team .team-image1 {
    background-image: url(../images/ebie.jpg);
    background-size: 100% 100%; }
  .team .team-image2 {
    background-image: url(../images/justin.jpg);
    background-size: 100% 100%; }
  .team .team-image3 {
    background-image: url(../images/tabile\ khume.jpg);
    background-size: 100% 100%; }
  .team .team-image4 {
    background-image: url(../images/ismet.jpg);
    background-size: 100% 100%; }
  .team .member1 {
    text-align: center; }
  .team .member2 {
    text-align: center; }
  .team .member3 {
    text-align: center; }
  .team .member4 {
    text-align: center; }
  .team p {
    position: absolute;
    width: 105px;
    height: 11px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: center;
    color: #999999;
    margin: 3vw 6.2vw; }

.whatWeDo .whatWeDo-image {
  width: 540px;
  height: 405px;
  background-color: #666666;
  margin-top: 3vw;
  background-image: linear-gradient(#00000088, #000000da), url(../images/bags-black-friday-escalator-1368690.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 5vw; }
.whatWeDo .paragraphs {
  margin-top: 2vw;
  margin-left: 3vw;
  width: 524px;
  height: 89px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666; }
.whatWeDo h1 {
  margin: 3vw 8vw;
  width: 196px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #333333; }

.blog-header {
  width: 100%;
  height: 445px;
  background-color: #666666;
  margin-top: 2vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.685)), url(../images/blog-2355684_640.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .blog-header h1 {
    width: 251px;
    height: 35px;
    font-family: "Source Sans Pro";
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    margin: 8vw 43vw;
    position: absolute; }
  .blog-header h3 {
    width: 119px;
    height: 13px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc;
    margin: 12vw 47vw;
    position: absolute; }
  .blog-header a {
    color: white;
    text-decoration: none; }
  .blog-header a:hover {
    text-decoration: none; }

.grid-wrapper {
  border-bottom: 1px solid #e6e6e6;
  margin: 0 10vw; }
  .grid-wrapper h1 {
    width: 27px;
    height: 15px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    margin-top: 1vw; }

.blog div {
  width: 370px;
  height: 225px; }
.blog h2 {
  width: 210px;
  height: 14px;
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: left;
  color: #333333; }
.blog h6 {
  width: 117px;
  height: 14px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 3.2;
  text-align: left;
  color: #999999; }
.blog p {
  border-top: 1px solid #e6e6e6;
  width: 340px;
  height: 120px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.67;
  text-align: left;
  color: #666666; }
.blog h5 {
  width: 67px;
  height: 11px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  line-height: 1.67;
  text-align: left;
  color: #706259; }
.blog img {
  width: 370px;
  height: 225px; }

.lookbook-header {
  width: 100%;
  height: 445px;
  margin-top: 2vw;
  background-image: linear-gradient(#00000088, #000000da), url(../images/video/Girl-converted-with-Clipchamp.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .lookbook-header h1 {
    width: 257px;
    height: 35px;
    font-family: "Source Sans Pro";
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    margin: 8vw 43vw;
    position: absolute; }
  .lookbook-header h3 {
    width: 119px;
    height: 13px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc;
    margin: 12vw 48vw;
    position: absolute; }
  .lookbook-header a {
    color: white;
    text-decoration: none; }
  .lookbook-header a:hover {
    text-decoration: none; }

.contact-header {
  width: 100%;
  height: 445px;
  background-color: #666666;
  margin-top: 2vw;
  background-image: linear-gradient(#3d3d3d88, #3d3d3dda), url(../images/antique-black-cable-821754.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .contact-header h1 {
    width: 257px;
    height: 35px;
    font-family: "Source Sans Pro";
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    margin: 8vw 43vw;
    position: absolute; }
  .contact-header h3 {
    width: 119px;
    height: 13px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc;
    margin: 12vw 48vw;
    position: absolute; }
  .contact-header a {
    color: white;
    text-decoration: none; }
  .contact-header a:hover {
    text-decoration: none; }

.contact-grid {
  margin: 3vw 3vw; }
  .contact-grid div {
    width: 390px;
    height: 200px;
    border: solid 1px #e6e6e6;
    background-color: #f0f0f0; }
  .contact-grid h2 {
    width: 158px;
    height: 18px;
    font-family: "Source Sans Pro";
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 1.3px;
    text-align: center;
    color: #333333;
    margin: 4vw auto 2vw; }
  .contact-grid h6 {
    width: 255px;
    height: 16px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    margin: 1vw auto 5.3vw; }

form {
  margin: 1vw 3vw; }
  form input {
    width: 580px;
    height: 50px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #888888;
    padding: 1px; }
  form textarea {
    width: 1235px;
    height: 150px;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #888888;
    padding: 1px; }
  form .btn3 {
    width: 155px;
    height: 40px;
    background-color: #ac907f;
    border: none; }
    form .btn3 h1 {
      font-family: "Source Sans Pro";
      font-size: 15px;
      line-height: 2.4;
      letter-spacing: 1.5px;
      text-align: center;
      color: #ffffff;
      margin: -1vw 1.5vw;
      text-transform: uppercase; }

.masonry-gallery img {
  width: 100%;
  height: 100%; }
.masonry-gallery div {
  overflow: hidden; }
.masonry-gallery a::after {
  content: "";
  position: absolute;
  display: none; }
.masonry-gallery a:hover::after {
  display: none; }

.shop-header {
  width: 100%;
  height: 445px;
  background-color: #666666;
  margin-top: 2vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.685)), url(../images/people-2581913_1280.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .shop-header h1 {
    width: 251px;
    height: 35px;
    font-family: "Source Sans Pro";
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    margin: 8vw 42vw;
    position: absolute; }
  .shop-header h3 {
    width: 119px;
    height: 13px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc;
    margin: 12vw 46vw;
    position: absolute; }
    .shop-header h3 a {
      color: white;
      text-decoration: none; }
    .shop-header h3 a:hover {
      text-decoration: none; }

.grid-wrapper2 h3 {
  height: 14px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 2.4;
  color: #666666; }

.shop-bg {
  width: 100%;
  height: 225vh;
  background-color: #f5f5f5; }

.wrapper div {
  width: 300px;
  height: 300px;
  background-color: #666666;
  margin: 3vw auto; }
  .wrapper div img {
    width: 300px;
    height: 300px; }
.wrapper h2 {
  height: 25px;
  font-family: "Source Sans Pro";
  font-size: 25px;
  font-weight: 600;
  line-height: 1.92;
  text-align: left;
  color: #333333; }
.wrapper .lnr-heart {
  position: absolute;
  margin: -1vw 37.5vw; }
.wrapper h5 {
  width: 64px;
  height: 65px;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 600;
  line-height: 2.67;
  text-align: left;
  color: #999999; }
.wrapper p {
  width: 465px;
  height: 64px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.67;
  text-align: left;
  color: #666666; }
.wrapper button {
  width: 180px;
  height: 44px;
  background-color: #ac907f;
  border: none;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff; }

.pages ul {
  margin-left: 75vw;
  position: absolute;
  margin-top: -3vw; }
  .pages ul li {
    display: inline; }
  .pages ul a {
    position: relative;
    text-decoration: none;
    width: 6px;
    height: 10px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 2;
    text-align: center;
    color: black;
    margin-right: 2vw; }

body {
  margin: 0; }

.topBar > div {
  text-align: center;
  text-transform: uppercase;
  padding-top: .9rem; }

nav ul {
  height: 93px;
  margin-left: 16vw;
  position: relative; }
nav li {
  display: inline;
  padding: 2vw; }
nav a {
  position: relative;
  font-family: Dosis;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
  text-decoration-line: none;
  text-transform: uppercase; }

li a::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  background: #999999;
  left: 49%;
  height: 0.3vh;
  transform: translateX(-50%);
  margin-top: 5px;
  transition: .2s linear;
  -webkit-transition: .2s linear; }

li a:hover::after {
  width: 100%;
  background: #999999; }

button:hover {
  transition: .3s ease-in-out;
  cursor: pointer; }

footer {
  width: 100%;
  height: 50px;
  background-color: #d7d7d7;
  margin: 0; }
  footer h1 {
    padding-top: 0vw;
    padding-left: 41vw;
    margin: 0;
    width: 384px;
    height: 14px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    display: inline;
    color: #666666; }

.topnav {
  display: none; }

img:hover {
  transform: scale(1.1);
  transition: 1s; }

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "content1 content1 content1" "footer footer footer"; }

.header-container {
  grid-area: header; }

.topBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.main-container {
  grid-area: content1; }

.featuredProducts {
  background-color: #f5f5f5;
  display: grid;
  margin: auto;
  width: 100%;
  height: 30rem;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 11rem; }

.products {
  width: 23.125rem;
  height: 22.5rem;
  margin-left: 3vw;
  overflow: hidden; }
  .products img {
    width: 100%;
    height: 100%; }

.new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 10vw;
  margin-top: 8vw;
  grid-gap: 1vw; }

.image4 {
  width: 505px;
  height: 300px;
  margin-left: 10vw;
  margin-bottom: 2vw;
  overflow: hidden; }
  .image4 img {
    width: 100%;
    height: 170%; }

.image5 {
  width: 505px;
  height: 300px;
  margin-bottom: 2vw;
  overflow: hidden; }
  .image5 img {
    width: 100%;
    height: 100%; }

.box2 {
  display: grid;
  grid-template-areas: "image content"; }

.contact {
  width: 100%;
  height: 350px;
  background-color: #2d2827;
  display: grid;
  grid-template-columns: 1fr .5fr .5fr 1fr;
  grid-template-areas: "contact links shop instagram"; }

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.about-container {
  grid-area: header; }

.about-topBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.aboutUs {
  margin: 4vw 7vw 10vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content image";
  grid-gap: 2vw; }

.aboutUs p {
  grid-area: content; }
.aboutUs div {
  grid-area: image; }

.team {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 8vw;
  grid-gap: 0; }

.whatWeDo {
  margin: 4vw 7vw 10vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "image content";
  grid-gap: 2vw; }

.whatWeDo p {
  grid-area: content; }
.whatWeDo div {
  grid-area: image; }

main {
  grid-area: content1; }

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 4vw 6vw;
  grid-gap: 2vw; }

.masonry-gallery {
  margin: 2vw 0;
  display: grid;
  grid-gap: 1vw;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(15, 15rem); }
  .masonry-gallery .item1 {
    grid-row: span 3; }
  .masonry-gallery .item2 {
    grid-row: span 1; }
  .masonry-gallery .item3 {
    grid-row: span 3; }
  .masonry-gallery .item4 {
    grid-row: span 3; }
  .masonry-gallery .item5 {
    grid-row: span 3; }
  .masonry-gallery .item6 {
    grid-row: span 3; }
  .masonry-gallery .item7 {
    grid-row: span 2; }
  .masonry-gallery .item8 {
    grid-row: span 1; }
  .masonry-gallery .item9 {
    grid-row: span 2; }
  .masonry-gallery .item10 {
    grid-row: span 3; }
  .masonry-gallery .item11 {
    grid-row: span 3; }
  .masonry-gallery .item12 {
    grid-row: span 2; }
  .masonry-gallery .item13 {
    grid-row: span 2; }
  .masonry-gallery .item14 {
    grid-row: span 2; }
  .masonry-gallery .item15 {
    grid-row: span 3; }
  .masonry-gallery .item16 {
    grid-row: span 2; }
  .masonry-gallery .item17 {
    grid-row: span 1; }
  .masonry-gallery .item18 {
    grid-row: span 2; }
  .masonry-gallery .item19 {
    grid-row: span 1; }

.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.grid-wrapper2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1vw; }

.wrapper {
  display: grid;
  grid-template-areas: "image content";
  grid-gap: 2vw;
  margin: 1vw 20.7vw; }

.details {
  grid-area: content;
  margin-top: 1.5vw; }

@media only screen and (max-width: 1440px) {
  nav ul {
    margin-left: 13vw; }

  .heading {
    margin-left: 28.5vw;
    margin-top: 7vw; }

  .intro {
    margin-left: 16.5vw; }

  .downArrow {
    margin-left: -6vw; }

  .featuredProducts h2 {
    margin-top: -10vw; }
  .featuredProducts .bottomBorder {
    margin-left: 48vw;
    margin-top: -6vw; }
  .featuredProducts .products {
    margin-left: 0vw; }

  .newCollection div {
    margin-left: 48vw;
    margin-top: 6vw; }

  .new .image4 {
    margin-left: 4vw; }
  .new .men {
    margin-left: 19vw; }
  .new .women {
    margin-left: 15vw; }

  .box2 .bottomBorder2 {
    margin-left: 49vw;
    margin-top: 6vw; }
  .box2 .image6 {
    width: 100%;
    margin-left: 8vw; }

  .content .lnr-arrow-right {
    position: absolute;
    margin-top: -3vw; }

  .about-header h3 {
    margin: 12vw 47.5vw; }

  .borderBottom {
    margin-left: 14vw; }

  .team {
    grid-gap: 2vw; }
    .team .borderBottom2 {
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #ac907f;
      margin-left: 41vw;
      margin-top: -2vw; }
    .team .icons {
      margin: 7vw 7vw; }
      .team .icons i {
        padding-right: 0; }

  .contact-grid div {
    width: 425px; }

  form input {
    width: 613px; }
  form textarea {
    width: 1235px; } }
@media only screen and (max-width: 1024px) {
  .topBar > div {
    font-size: 11px; }
    .topBar > div .shipping {
      font-size: 11px; }

  nav ul {
    margin-left: 5vw; }

  .heading {
    font-size: 48px;
    margin-left: 21vw;
    margin-top: 9vw; }

  .intro {
    margin-left: 6vw; }

  .downArrow {
    margin-left: -9vw; }

  .featuredProducts h2 {
    margin-left: 34vw; }
  .featuredProducts .bottomBorder {
    margin-left: 47vw;
    margin-top: -5vw; }
  .featuredProducts .alignment {
    margin: 0 0vw; }
  .featuredProducts .products {
    width: 19.125rem;
    height: auto;
    margin-left: 1.5vw; }
  .featuredProducts h6 {
    margin: 1vw 12.5vw; }

  .products {
    width: 19.125rem;
    height: auto;
    margin-left: 1.5vw; }

  .new {
    margin-left: 8.5vw; }
    .new .image4 {
      margin-left: 0vw; }

  .image4,
  .image5 {
    width: 430px;
    height: 300px; }

  .newCollection h1 {
    margin-top: 1vw;
    margin-left: 36vw; }

  .box1 .info4 {
    padding-top: 12.4375rem;
    padding-left: 15.0625rem; }
  .box1 .para2 {
    padding-left: 12rem; }
  .box1 .btn2 {
    width: 125px;
    height: 40px;
    background-color: #a88d7b;
    border: none;
    margin-left: 27.0625rem;
    margin-top: 4vw; }

  .box2 {
    grid-gap: 2vw; }
    .box2 .ourBlog {
      margin-left: 42vw; }
    .box2 .bottomBorder2 {
      width: 50px;
      height: 2px;
      background-color: #a88d7b;
      margin-left: 47vw;
      margin-top: 8vw;
      position: absolute; }
    .box2 .image6 {
      margin-left: 3vw; }
      .box2 .image6 img {
        width: 490px;
        height: 390px; }
    .box2 .content {
      margin-left: 0vw; }
    .box2 .content p {
      width: 95%;
      height: 239px;
      font-family: "Source Sans Pro";
      font-size: 15px;
      line-height: 1.67;
      text-align: left;
      color: #666666; }
    .box2 .lnr-arrow-right {
      position: absolute;
      margin-top: -4.2vw;
      margin-left: 8vw;
      width: 15px;
      height: 11px;
      font-size: 15px;
      line-height: 3.2;
      text-align: left;
      color: #a88d7b; }

  .contactDetails {
    padding-right: 3vw; }

  .about-topBar .shipping {
    font-size: 11px; }

  .about-header h3 {
    margin: 13vw 48.5vw; }

  .aboutUs {
    margin: 4vw 0vw 10vw; }
    .aboutUs .paragraphs {
      margin-top: 2vw;
      width: 524px;
      height: 89px;
      font-family: "Source Sans Pro";
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: left;
      color: #666666; }
    .aboutUs .about-image {
      width: 390px;
      height: 379px;
      background-color: #666666;
      margin-top: 3vw;
      background-image: linear-gradient(#00000088, #000000da), url(../images/adults-black-and-white-casual.jpg);
      background-size: contain;
      background-position: center; }
    .aboutUs .borderBottom {
      margin-left: 16vw; }

  .team {
    margin-left: 1vw; }
    .team div {
      width: 230px;
      height: 260px; }
    .team .borderBottom2 {
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: #ac907f;
      margin-left: 40vw;
      margin-top: -1vw; }
    .team p {
      margin: 3vw 7.2vw; }

  .whatWeDo {
    margin: 4vw 0vw 10vw; }
    .whatWeDo .borderBottom {
      margin-left: 16vw;
      margin-top: -2vw; }
    .whatWeDo .whatWeDo-image {
      width: 390px;
      height: 379px;
      background-size: contain; }
    .whatWeDo .paragraphs {
      font-size: 14px; }
    .whatWeDo p {
      width: 90%; }

  .blog {
    margin: 4vw 1vw; }
    .blog div {
      width: 300px;
      height: 225px;
      background-color: #666666; }
    .blog p {
      border-top: 1px solid #e6e6e6;
      width: 312px;
      height: 65px;
      font-family: "Source Sans Pro";
      font-size: 15px;
      line-height: 1.67;
      text-align: left;
      color: #666666; }
    .blog h5 {
      line-height: 3.67; }

  .contact-grid div {
    width: 300px; }

  form textarea {
    width: 900px; }
  form input {
    width: 434px; } }
.shop-bg {
  height: 250vh; }

.wrapper p {
  width: 413px; }

@media only screen and (max-width: 768px) {
  .topBar > div {
    font-size: 10px; }
    .topBar > div .shipping {
      font-size: 10px;
      letter-spacing: 0.4px; }

  nav ul {
    margin-left: 3vw; }
  nav a {
    position: relative;
    font-family: Dosis;
    font-size: 13px;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    text-decoration-line: none;
    text-transform: uppercase; }

  .heading {
    font-size: 40px;
    margin-left: 15vw;
    margin-top: 10vw; }

  .intro {
    margin-left: 22vw;
    width: 500px; }

  .btn {
    margin-left: 45vw; }
    .btn .btnText {
      margin-left: 3vw;
      margin-top: -2vw; }

  .downArrow {
    margin-left: -12.5vw; }

  .featuredProducts {
    display: block;
    height: 60rem; }
    .featuredProducts h2 {
      margin-left: 33vw; }
    .featuredProducts .bottomBorder {
      margin-left: 50vw;
      margin-top: -3vw; }
    .featuredProducts .products {
      width: 15rem;
      margin-left: 38.5vw; }
    .featuredProducts h5 {
      margin: 0vw 43vw; }
    .featuredProducts h6 {
      margin: 1vw 50vw 5vw; }

  .new {
    display: block;
    height: 55rem; }
    .new .image4,
    .new .image5 {
      width: 330px;
      height: 300px;
      margin-top: 20vw;
      margin-left: 22vw; }
    .new .men,
    .new .women {
      margin-left: 39vw; }

  .newCollection h1 {
    margin-top: 5vw; }
  .newCollection div {
    margin-left: 50vw;
    margin-top: 12vw; }

  .box1 .info4 {
    padding-top: 12.4375rem;
    padding-left: 5.0625rem; }
  .box1 .para2 {
    padding-left: 3rem;
    width: 580px; }
  .box1 .btn2 {
    margin-left: 17.0625rem; }

  .box2 {
    display: block;
    height: 60rem; }
    .box2 .ourBlog {
      margin-top: 2vw; }
    .box2 .bottomBorder2 {
      width: 50px;
      height: 2px;
      background-color: #a88d7b;
      margin-left: 49vw;
      margin-top: 8vw;
      position: absolute; }
    .box2 .image6 {
      margin-top: 0vw;
      padding-top: 10vw;
      width: 500px; }
      .box2 .image6 img {
        width: 460px;
        height: 360px;
        margin-left: 16vw; }
    .box2 .content {
      margin-top: 0;
      text-align: center; }
      .box2 .content p, .box2 .content h5, .box2 .content h6 {
        width: 75%;
        margin-left: 15vw; }

  .contact {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "none";
    height: 44rem; }

  .contactDetails {
    padding-top: 5vw;
    padding-left: 15vw; }

  .links {
    margin-top: 8vw;
    margin-left: 5vw;
    width: 80%; }
    .links h2 {
      height: 15px;
      line-height: 2.6; }

  .shop {
    margin-top: -18vw;
    margin-left: 15vw; }

  .instagram {
    margin-top: -18vw; }

  .about-header h1 {
    margin: 19vw 34vw; }
  .about-header h3 {
    margin: 26vw 42vw; }

  .aboutUs {
    display: block;
    height: 55rem;
    margin-left: 20vw; }
    .aboutUs h1 {
      margin: 4vw 13vw; }
    .aboutUs .about-image {
      width: 390px;
      height: 379px;
      background-color: #666666;
      margin-top: 40vw;
      margin-left: 5vw; }
    .aboutUs .borderBottom {
      margin-left: 23vw; }
    .aboutUs p {
      margin-left: -8vw; }

  .team {
    grid-template-columns: repeat(2, 1fr);
    height: 50rem;
    margin-left: 13vw; }
    .team h2 {
      margin: 0 9vw; }
    .team p {
      margin: 6vw 12.8vw; }
    .team h1 {
      margin-top: -10.5vw;
      margin-left: 22vw; }
    .team .icons {
      margin: 10vw 14vw; }
    .team .borderBottom2 {
      margin-left: 34vw;
      margin-top: -3vw; }

  .whatWeDo {
    display: block;
    height: 50rem;
    margin: 4vw 9vw 10vw; }
    .whatWeDo .whatWeDo-image {
      margin-top: 0vw;
      margin-left: 18vw; }
    .whatWeDo .paragraphs {
      margin-top: 4vw;
      margin-left: 13vw; }
    .whatWeDo h1 {
      margin: 4vw 17vw; }
    .whatWeDo .borderBottom {
      margin-left: 27vw; }

  footer h1 {
    padding-top: 0vw;
    padding-left: 35vw; }

  .blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 3vw 12vw;
    grid-gap: .5vw; }
    .blog div {
      width: 270px;
      height: 200px;
      background-color: #666666; }
    .blog h5 {
      line-height: .67;
      margin-top: 7vw; }
    .blog p {
      width: 260px; }

  .about-topBar {
    font-size: 7px; }
    .about-topBar .shipping {
      font-size: 7px; }
    .about-topBar .lang-cur {
      font-size: 7px; }

  .contact-header h1 {
    margin: 20vw 35vw; }
  .contact-header h3 {
    margin: 27vw 44vw; }

  .contact-grid div {
    width: 230px;
    height: 150px; }
  .contact-grid h2 {
    font-size: 20px; }
  .contact-grid h6 {
    font-size: 13px;
    margin: 4vw -1vw; }

  form input {
    width: 324px; }
  form textarea {
    width: 690px; }
  form .btn3 {
    width: 125px;
    height: 35px; }
    form .btn3 h1 {
      line-height: 1; } }
@media only screen and (max-width: 425px) {
  nav ul {
    display: none; }

  .aboutNav {
    display: none; }

  .topBar > div .shipping {
    font-size: 10px;
    letter-spacing: -1px; }

  .header-container {
    background-attachment: scroll; }

  .heading {
    font-size: 25px;
    margin-left: 5vw;
    margin-top: 10vw;
    width: 400px; }

  .intro {
    margin-left: 20vw;
    width: 265px; }

  .btn-1 {
    width: 136px;
    margin-left: 35vw;
    margin-top: 20vw; }

  .downArrow {
    display: none; }

  .featuredProducts {
    display: block;
    height: 45rem; }
    .featuredProducts h2 {
      margin-left: 12vw;
      font-size: 7vw;
      margin-top: -37vw; }
    .featuredProducts .bottomBorder {
      margin-left: 44vw;
      margin-top: -24vw; }
    .featuredProducts h5 {
      margin: 0vw 33vw;
      font-size: 4vw; }
    .featuredProducts h6 {
      margin: 1vw 45vw 11vw; }
    .featuredProducts .products {
      width: 10rem;
      margin-left: 33vw; }

  .newCollection h1 {
    margin-top: 1vw;
    margin-left: 24vw;
    font-size: 7vw; }
  .newCollection div {
    margin-left: 48vw;
    margin-top: 15vw; }

  .new {
    height: 40rem; }
    .new .image4,
    .new .image5 {
      width: 240px;
      height: 220px;
      margin-top: 20vw;
      margin-left: 20vw; }
    .new .men,
    .new .women {
      margin-left: 41vw; }

  .box1 {
    background-attachment: scroll; }
    .box1 .info4 {
      padding-top: 10.4375rem;
      padding-left: 0.0625rem;
      font-size: 10vw;
      width: 400px; }
    .box1 .para2 {
      padding-left: 3rem;
      width: 310px; }
    .box1 .btn2 {
      margin-left: 10.0625rem;
      margin-top: 8vw;
      width: 98px;
      height: 33px; }

  .box2 {
    height: 65rem; }
    .box2 .ourBlog {
      margin-left: 26vw; }
    .box2 .bottomBorder2 {
      margin-left: 42vw;
      margin-top: 16vw; }
    .box2 .image6 {
      width: 300px; }
      .box2 .image6 img {
        width: 290px;
        height: 290px;
        margin-left: 13vw;
        margin-top: 15vw; }
    .box2 .content {
      margin-left: 5vw;
      margin-top: 0;
      width: 300px; }
      .box2 .content h1 {
        width: 100%; }
      .box2 .content h5 {
        line-height: 1.2; }
      .box2 .content p {
        width: 260px;
        height: 239px; }
      .box2 .content h6 {
        margin-top: 41vw;
        line-height: 0.2; }
    .box2 .lnr-arrow-right {
      position: absolute;
      margin-top: -15.2vw;
      margin-left: 19vw; }

  #back2Top {
    font-size: 4vw; }

  .contact {
    display: block;
    height: 55rem; }
    .contact .contactDetails {
      padding-top: 5vw;
      padding-left: 4vw; }
    .contact .shop {
      margin-top: 0vw;
      margin-left: 4vw; }
    .contact .instagram {
      margin-top: 3vw;
      margin-right: 13vw;
      margin-left: 4vw; }
    .contact .insta1,
    .contact .insta2,
    .contact .insta3,
    .contact .insta4,
    .contact .insta5,
    .contact .insta6,
    .contact .insta7,
    .contact .insta8 {
      width: 60px;
      height: 60px; }

  footer h1 {
    padding-top: 0vw;
    padding-left: 5vw;
    margin: 0;
    width: 275px;
    height: 14px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    display: block;
    color: #666666; }

  .topnav {
    background-color: #333;
    overflow: hidden;
    display: block; }
    .topnav a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px; }
    .topnav .active {
      background-color: #ac907f;
      color: white; }
    .topnav .icon {
      display: none; }
    .topnav a:hover {
      background-color: #555;
      color: white; }
    .topnav a:not(:first-child) {
      display: none; }
    .topnav a.icon {
      float: right;
      display: block; } }
.topnav.responsive {
  position: relative; }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0; }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left; }

.topnav.responsive .dropdown {
  float: none; }

.topnav.responsive .dropdown-content {
  position: relative; }

.topnav.responsive .dropdown .dropbtn {
  display: block;
  width: 100%;
  text-align: left; }

@media only screen and (max-width: 425px) {
  .heading {
    margin-left: 12vw;
    width: 300px; }

  .intro {
    margin-left: 16vw; }

  .btn-1 {
    margin-left: 33vw; }

  .box1 .info4 {
    padding-top: 10.4375rem;
    padding-left: 3.0625rem;
    font-size: 10vw;
    width: 300px; } }
@media only screen and (max-width: 320px) {
  .heading {
    width: 270px; }

  .intro {
    margin-left: 12vw; }

  .btn-1 {
    margin-left: 30vw; }

  .featuredProducts h2 {
    margin-left: 0vw; }
  .featuredProducts .products {
    margin-left: 25vw; }
  .featuredProducts h5 {
    margin: 0vw 25vw; }
  .featuredProducts h6 {
    margin: 1vw 41vw 11vw; }

  .newCollection h1 {
    margin-left: 13vw; }

  .new .image4, .new .image5 {
    margin-left: 9vw; }

  .box1 .info4 {
    width: 250px; }
  .box1 .para2 {
    width: 242px; }
  .box1 .btn2 {
    margin-left: 8.0625rem; }

  .box2 .image6 img {
    width: 225px;
    height: 230px;
    margin-left: 13vw;
    margin-top: 15vw; }

  .box2 .content p {
    width: 236px;
    height: 290px; } }

/*# sourceMappingURL=main.css.map */
