@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis-Light.ttf); }
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf); }
.icons1 {
  width: 1vw;
  height: 5px;
  font-size: .5rem;
  text-align: center;
  color: #999999; }

.topBar-icons {
  width: 111px;
  height: 15px;
  font-size: 15px; }

.icon {
  width: 22px;
  height: 23px;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.downArrow {
  width: 29px;
  height: 16px;
  font-family: Linearicons-Free;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-top: 18vw;
  margin-left: -6.9vw;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-duration: 1s; }

@keyframes arrow {
  from {
    margin-top: 18vw;
    transition: 1s; }
  to {
    margin-top: 19vw;
    transition: 1s; } }
.aboutIcons {
  color: #666666; }

.header-container {
  width: 100%;
  height: 100vh;
  background-color: #666666;
  background: linear-gradient(#00000088, #000000da), url(../images/woman-streetwear-crouching.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.topBar {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }

.lang-cur {
  width: 13px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  color: #999999; }

.shipping {
  width: 349px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999; }

.topBar-icons {
  width: 349px;
  height: 9px;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999; }

.home {
  margin-left: 3vw; }

.lookBook {
  margin-right: 3vw; }

.logo {
  width: 117px;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 5.5px;
  text-align: left;
  color: #fffefe; }

.heading {
  width: 597px;
  height: 38px;
  font-family: Dosis;
  font-size: 50px;
  line-height: 0.96;
  text-align: center;
  color: #ffffff;
  margin-left: 27vw;
  margin-top: 7vw;
  text-transform: uppercase; }

.intro {
  width: 924px;
  height: 39px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.67;
  text-align: center;
  color: #e6e6e6;
  margin-left: 19vw; }

.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  margin-left: 44vw;
  margin-top: 5vw;
  border: none; }

.btnText {
  width: 87px;
  height: 10px;
  font-family: "Source Sans Pro";
  font-size: 11px;
  line-height: 3.2;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  margin-left: 2vw;
  margin-top: -1vw;
  text-transform: uppercase; }

.featuredProjects {
  width: 1900px;
  height: 704px; }

.featured {
  width: 313px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333;
  margin-left: 39vw;
  position: absolute; }

.bottomBorder {
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  margin-left: 48vw;
  margin-top: 6vw;
  position: absolute; }

.info1 {
  margin-top: 15vw;
  margin-left: 16vw;
  width: 158px;
  height: 18px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.4;
  text-align: center;
  color: #333333; }

.price1 {
  margin-top: -1vw;
  margin-left: 20.5vw;
  width: 52px;
  height: 11px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999; }

.info2 {
  margin-top: 15vw;
  margin-left: 10vw;
  width: 151px;
  height: 18px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.4;
  text-align: center;
  color: #333333; }

.price2 {
  margin-top: -1vw;
  margin-left: 13.5vw;
  width: 52px;
  height: 11px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999; }

.info3 {
  margin-top: 15vw;
  margin-left: 3.2vw;
  width: 172px;
  height: 18px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 600;
  line-height: 2.4;
  text-align: center;
  color: #333333; }

.price3 {
  margin-top: -1vw;
  margin-left: 8vw;
  width: 52px;
  height: 11px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  line-height: 3.2;
  text-align: center;
  color: #999999; }

.newCollection {
  margin-left: 39vw;
  position: absolute;
  width: 265px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333; }

.men {
  grid-row: 2 / 2;
  width: 49px;
  height: 16px;
  font-family: "Source Sans Pro";
  font-size: 25px;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b;
  margin-top: 0vw;
  margin-left: 27vw; }

.women {
  grid-row: 2 / 2;
  width: 91px;
  height: 16px;
  font-family: "Source Sans Pro";
  font-size: 25px;
  line-height: 1.92;
  letter-spacing: 2.5px;
  text-align: center;
  color: #a88d7b;
  margin-top: 0vw;
  margin-left: 13vw; }

.box1 {
  width: 100%;
  height: 400px;
  opacity: 0.9;
  background-color: #666666;
  background-image: linear-gradient(#66666688, #66666680), url(../images/street-wear-male.jpg);
  background-size: cover;
  background-attachment: fixed; }

.info4 {
  margin-top: 2vw;
  width: 530px;
  height: 37px;
  font-family: Dosis;
  font-size: 48px;
  line-height: 0.5;
  text-align: center;
  color: #ffffff;
  padding-top: 10vw;
  padding-left: 15vw; }

.para2 {
  width: 656px;
  height: 38px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  color: #ffffff;
  padding-left: 10vw; }

.btn2 {
  width: 150px;
  height: 40px;
  background-color: #a88d7b;
  border: none;
  margin-left: 28vw;
  margin-top: 4vw; }

.btnText2 {
  width: 73px;
  height: 10px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  margin-top: 0vw;
  margin-left: 2vw; }

.ourBlog {
  position: absolute;
  margin-left: 39vw;
  width: 156px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #333333; }

.bottomBorder2 {
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  margin-left: 43vw;
  margin-top: 6vw;
  position: absolute; }

.box2 {
  width: 100%;
  height: 671px;
  background-color: #f9f9f9; }

.image6 {
  width: 530px;
  height: 364px;
  background-color: #666666;
  background-image: url(../images/street-wear-male-covered-by-smoke.jpeg);
  background-position: bottom;
  background-size: cover;
  margin-left: 6vw;
  margin-top: 10vw; }

.content {
  margin-top: 9vw;
  margin-right: 20vw;
  width: 339px;
  height: 23px;
  font-family: "Source Sans Pro";
  font-size: 25px;
  line-height: 1.92;
  text-align: left;
  color: #333333; }
  .content h5 {
    margin-bottom: 4vw;
    margin-top: -3vw;
    width: 117px;
    height: 14px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    line-height: 3.2;
    text-align: left;
    color: #999999; }
  .content p {
    width: 529px;
    height: 239px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 1.67;
    text-align: left;
    color: #666666; }
  .content h6 {
    margin-top: -5vw;
    width: 85px;
    height: 10px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    line-height: 3.2;
    letter-spacing: 1.5px;
    text-align: left;
    color: #a88d7b; }
  .content .lnr-arrow-right {
    position: absolute;
    margin-top: -3.2vw;
    margin-left: 7vw;
    width: 15px;
    height: 11px;
    font-size: 15px;
    line-height: 3.2;
    text-align: left;
    color: #a88d7b; }

.contactDetails {
  padding-top: 1vw;
  padding-left: 10vw; }
  .contactDetails h1 {
    width: 117px;
    height: 30px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    text-align: left;
    color: #e5e5e5; }
  .contactDetails h2 {
    width: 232px;
    height: 18px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999; }

.links {
  margin-top: 3vw;
  margin-left: -2vw; }
  .links h1 {
    width: 46px;
    height: 30px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #e5e5e5; }
  .links h2 {
    height: 33px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999; }

.shop {
  margin-top: 3vw;
  margin-left: -2vw; }
  .shop h1 {
    width: 45px;
    height: 30px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #e5e5e5; }
  .shop h2 {
    width: 25px;
    height: 33px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #999999; }

.instagram {
  margin-top: 3vw;
  margin-right: 13vw;
  margin-left: -5vw; }
  .instagram h1 {
    width: 91px;
    height: 30px;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff; }
  .instagram .insta1 {
    background-image: url(../images/instagram-vince-menzani.jpg);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta2 {
    background-image: url(../images/instagram.jpg);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta3 {
    background-image: url(../images/instagram-Feifei.jpg);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta4 {
    background-image: url(../images/instagram-high-streetwear-fashion.jpg);
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta5 {
    background-image: url(../images/instagram--simple-outfits-casual-outfits.jpg);
    background-size: cover;
    background-position: center;
    margin-top: .2vw;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta6 {
    background-image: url(../images/--streetwear-clothing-streetwear-fashion.jpg);
    background-size: cover;
    background-position: center;
    margin-top: .2vw;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta7 {
    background-image: url(../images/instagram-street.jpg);
    background-size: cover;
    background-position: center;
    margin-top: .2vw;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }
  .instagram .insta8 {
    background-image: url(../images/--street-fashion-men-summer-mens-hipster-fashion-summer.jpg);
    background-size: cover;
    background-position: center;
    margin-top: .2vw;
    width: 80px;
    height: 80px;
    background-color: #ffffff; }

.about-topBar {
  width: 100%;
  height: 53px;
  background-color: #eeeeee; }
  .about-topBar div {
    text-align: center;
    text-transform: uppercase;
    padding-top: .9rem;
    padding-right: .2rem;
    color: #999999; }

.about-nav {
  height: 35px;
  margin-left: -2vw; }
  .about-nav .aboutLogo {
    margin-right: 17vw;
    width: 116px;
    height: 22px;
    font-family: Dosis;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.6563rem;
    text-align: left;
    color: #000000; }
  .about-nav li {
    padding: 1vw; }
  .about-nav a {
    color: #666666; }

.about-header {
  width: 100%;
  height: 445px;
  background-color: #666666;
  margin-top: 2vw; }
  .about-header h1 {
    width: 251px;
    height: 35px;
    font-family: "Source Sans Pro";
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 5px;
    text-align: center;
    color: #ffffff;
    margin: 12vw 36vw;
    position: absolute; }
  .about-header h3 {
    width: 119px;
    height: 13px;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #cccccc;
    margin: 17vw 41vw;
    position: absolute; }

.aboutUs .paragraphs {
  width: 524px;
  height: 89px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #666666; }
.aboutUs h1 {
  margin: 3vw 13vw;
  width: 196px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #333333; }
.aboutUs div {
  width: 600px;
  height: 490px;
  background-color: #666666;
  margin-top: 3vw; }

body {
  margin: 0; }

.topBar > div {
  text-align: center;
  text-transform: uppercase;
  padding-top: .9rem; }

nav ul {
  height: 93px;
  margin-left: 10vw; }
nav li {
  display: inline;
  padding: 2vw; }
nav a {
  font-family: Dosis;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
  text-decoration-line: none;
  text-transform: uppercase; }

footer {
  width: 100%;
  height: 50px;
  background-color: #d7d7d7;
  margin: 0; }
  footer h1 {
    padding-top: 1vw;
    padding-left: 32vw;
    margin: 0;
    width: 384px;
    height: 14px;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #666666; }

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "content1 content1 content1" "footer footer footer"; }

.header-container {
  grid-area: header; }

.topBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.main-container {
  grid-area: content1; }

.featuredProducts {
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "image1 image2 image3" "info1 info2 info3" "price1 price2 price3"; }

.product1 {
  grid-area: image1;
  width: 330px;
  height: 340px;
  margin: 8vw 11vw;
  position: absolute; }
  .product1 img {
    width: 100%;
    height: 100%; }

.product2 {
  grid-area: image2;
  width: 330px;
  height: 340px;
  margin: 8vw 37vw;
  position: absolute; }
  .product2 img {
    width: 100%;
    height: 100%; }

.product3 {
  grid-area: image3;
  width: 330px;
  height: 340px;
  background-color: #666666;
  margin: 8vw 63vw;
  position: absolute; }
  .product3 img {
    width: 100%;
    height: 100%; }

.info1 {
  grid-area: info1; }

.info2 {
  grid-area: info2; }

.info3 {
  grid-area: info3; }

.price1 {
  grid-area: price1; }

.price2 {
  grid-area: price2; }

.price3 {
  grid-area: price3; }

.new {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr); }

.image4 {
  grid-column: 1 / 1;
  width: 505px;
  height: 300px;
  margin: 7vw;
  margin-top: 8vw;
  margin-left: 12vw;
  margin-bottom: 2vw;
  overflow: hidden; }
  .image4 img {
    width: 100%;
    height: 170%; }

.image5 {
  grid-column: 2 / 2;
  width: 505px;
  height: 300px;
  background-color: #666666;
  background-image: url(../images/australian-label-alch-makes-streetwear-from-recycled-packaging-805x427.jpg);
  background-size: cover;
  margin: 7vw;
  margin-top: 8vw;
  margin-left: -4vw;
  margin-bottom: 2vw;
  overflow: hidden; }
  .image5 img {
    width: 100%;
    height: 100%; }

.box2 {
  display: grid;
  grid-template-areas: "image content"; }

.contact {
  width: 100%;
  height: 350px;
  background-color: #2d2827;
  display: grid;
  grid-template-columns: 1fr .5fr .5fr 1fr;
  grid-template-areas: "contact links shop instagram"; }

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr); }

.about-container {
  grid-area: header; }

.about-topBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

.aboutUs {
  margin: 4vw 14vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "content image";
  grid-gap: 2vw; }

.aboutUs p {
  grid-area: content; }
.aboutUs div {
  grid-area: image; }

/*# sourceMappingURL=main.css.map */
