@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis-Light.ttf); }
@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf); }
.icons1 {
  width: 1vw;
  height: 5px;
  font-size: .5rem;
  text-align: center;
  color: #999999; }

.topBar-icons {
  width: 111px;
  height: 15px;
  font-size: 15px; }

.icon {
  width: 22px;
  height: 23px;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff; }

.header-container {
  width: 100%;
  height: 100vh;
  background-color: #666666;
  background: linear-gradient(#66666688, #66666680), url(../images/woman-streetwear-crouching.jpg);
  background-size: cover;
  background-position: center; }

.topBar {
  width: 100%;
  height: 53px;
  background-color: #2d2827; }

.lang-cur {
  width: 13px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999; }

.shipping {
  width: 349px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999; }

.topBar-icons {
  width: 349px;
  height: 9px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999; }

.home {
  margin-left: 3vw; }

.lookBook {
  margin-right: 3vw; }

.logo {
  width: 117px;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 5.5px;
  text-align: left;
  color: #fffefe; }

.heading {
  width: 597px;
  height: 38px;
  font-family: Dosis;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 27vw;
  margin-top: 7vw; }

.intro {
  width: 924px;
  height: 39px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6;
  margin-left: 19vw; }

.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  margin-left: 44vw;
  margin-top: 5vw;
  border: none; }

.btnText {
  width: 87px;
  height: 10px;
  font-family: "Source Sans Pro";
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  margin-left: 2vw;
  margin-top: -1vw;
  text-transform: uppercase; }

.downArrow {
  width: 29px;
  height: 16px;
  font-family: Linearicons-Free;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-top: 18vw;
  margin-left: -5.8vw;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-duration: 1s; }

@keyframes arrow {
  from {
    margin-top: 18vw;
    transition: 1s; }
  to {
    margin-top: 19vw;
    transition: 1s; } }
body {
  margin: 0; }

.topBar > div {
  text-align: center;
  text-transform: uppercase;
  padding-top: .9rem; }

nav ul {
  height: 93px;
  margin-left: 10vw; }
nav li {
  display: inline;
  padding: 2vw; }
nav a {
  font-family: Dosis;
  font-size: 15px;
  letter-spacing: 0.8px;
  text-align: left;
  color: #ffffff;
  text-decoration-line: none;
  text-transform: uppercase; }

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header"; }

.header-container {
  grid-area: header; }

.topBar {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

/*# sourceMappingURL=main.css.map */
