@font-face {
    font-family: "Source Sans Pro";
    src: url(../fonts/SourceSansPro-Light.ttf);
}

.icons1 {
  width: 1vw;
  height: 5px;
  font-size: .5rem;
  text-align: center;
  color: #999999;
}

.topBar-icons {
  width: 111px;
  height: 15px;
  font-size: 15px;
}