// global fonts

@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-Light.ttf)
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf); 
}

// icons

.icons1 {
  width: 1vw;
  height: 5px;
  font-size: .5rem;
  text-align: center;
  color: #999999;
}

.topBar-icons {
  width: 111px;
  height: 15px;
  font-size: 15px;
}

.icon {
  width: 22px;
  height: 23px;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff;
}