// global fonts

@font-face {
    font-family: "Dosis";
    src: url(../fonts/Dosis-Light.ttf)
}

@font-face {
  font-family: "Source Sans Pro";
  src: url(../fonts/SourceSansPro-Light.ttf); 
}

// icons

.icons1 {
  width: 1vw;
  height: 5px;
  font-size: .5rem;
  text-align: center;
  color: #999999;
}

.topBar-icons {
  width: 111px;
  height: 15px;
  font-size: 15px;
}

.icon {
  width: 22px;
  height: 23px;
  letter-spacing: 1.1px;
  text-align: left;
  color: #ffffff;
}

.downArrow {
  width: 29px;
  height: 16px;
  font-family: Linearicons-Free;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-top: 16vw;
  margin-left: -4.5vw;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

@keyframes arrow {
  from {
    margin-top: 10vw;
    opacity: .1;
  }
  to {
    margin-top: 16vw;
    opacity: 1;
  }
}

// About US STYLES

.aboutIcons {
  color: #666666;
}

.icons {
  margin: 7vw 6vw;

  i {
    padding-right: 1vw;
  }
}

// contact page 

.contact-icon {
  position: absolute;
  margin: .5vw 9vw;
  width: 22px;
  height: 37px;
  font-size: 36px;
  line-height: 0.58;
  text-align: center;
  color: #090803;
}

// blog page icons

.share {
  position: absolute;
  margin-top: -1.7vw;
  margin-left: 3vw;
  width: 107px;
  height: 14px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: #666666;
  
    i {
      padding-right: .5vw;
    }
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 1;
  display: none;
  position: fixed;
  bottom: 50px;
  right: 0;
  color: #000000d2;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  font-size: 2vw;
}

#back2Top:hover {
  color: $mushroom;
  transition: 1s;
}

