// *********************** Global Layouts ******************

// creating a container for my homepage

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
                         "header header header"
                         "content1 content1 content1";
}

// a container for my header section of my homepage

.header-container {
    grid-area: header;
}

.topBar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.main-container {
    grid-area: content1;
}

.featuredProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.image1 {
    grid-column: 1 / 1;
    width: 340px;
    height: 330px;
    background-color: #666666;
    margin: 8vw 5vw;
    position: absolute;
}

.image2 {
    grid-column: 2 / 2;
    width: 340px;
    height: 330px;
    background-color: #666666;
    margin: 8vw 37vw;
    position: absolute;
}

.image3 {
    grid-column: 2 / 2;
    width: 340px;
    height: 330px;
    background-color: #666666;
    margin: 8vw 68vw;
    position: absolute;
}