@media only screen and (max-width:1440px) {

    nav {
        ul {
            margin-left: 13vw;
        } 
    }

    .heading {
        margin-left: 28.5vw;
        margin-top: 7vw;
    }

    .intro {
        margin-left: 16.5vw;
    }

    .downArrow {
        margin-left: -6vw;
    }

    .featuredProducts {
        h2 {
            margin-top: -10vw;
        }
        .bottomBorder {
            margin-left: 48vw;
            margin-top: -6vw;        
        }

        .products {
            margin-left: 0vw;
        }
    }

    .newCollection {
        div {
            margin-left: 48vw;
            margin-top: 6vw;        
        }

    }

    .new {
        .image4 {
            margin-left: 4vw;
        }

        .men {
            margin-left: 19vw;
        }

        .women {
            margin-left: 15vw;
        }
    }

    .box2 {
        .bottomBorder2 {
            margin-left: 49vw;
            margin-top: 6vw;        
        }

        .image6 {
            width: 100%;
            margin-left: 8vw;
        }
    }

    .content {
        .lnr-arrow-right {
            position: absolute;
            margin-top: -3vw;
        }
    }
    

    // about page 

    .about-header {
        h3 {
            margin: 12vw 47.5vw;
        }
    }

    .borderBottom {
        margin-left: 14vw;
    }

    .team {
        grid-gap: 2vw;

    .borderBottom2 {
        position: absolute;
        width: 50px;
        height: 2px;
        background-color: #ac907f;
        margin-left: 41vw;
        margin-top: -2vw;
    }

    .icons {
        margin: 7vw 7vw;

            i {
                padding-right: 0;
            }
    }
}



// contact page 

    .contact-grid div {
        width: 425px;
    }

    form {
        input {
            width: 613px;
        }
        textarea {
            width: 1235px;
        }
    }


}
   
    

@media only screen and (max-width:1024px) {

    .topBar > div {
        font-size: 11px;

        .shipping {
            font-size: 11px;
        }
    }

    nav ul {
        margin-left: 5vw;
    }

    .heading {
        font-size: 48px;
        margin-left: 21vw;
        margin-top: 9vw;
    }

    .intro {
        margin-left: 6vw;
    }

    .downArrow {
        margin-left: -9vw;
    }

    .featuredProducts {
        
        h2 {
            margin-left: 34vw;
        }

        .bottomBorder {
            margin-left: 47vw;
            margin-top: -5vw;
        }

         .alignment {
            margin: 0 0vw;
        }

        .products {
            width: 19.125rem;
            height: auto;
            margin-left: 1.5vw;
        }


        h6 {
            margin: 1vw 12.5vw;
        }

    }

    .products {
        width: 19.125rem;
        height: auto;
        margin-left: 1.5vw;
    }

    .new {
        margin-left: 8.5vw;

        .image4 {
            margin-left: 0vw;
        }
    }

    .image4,
    .image5 {
        width: 430px;
        height: 300px;
        
    }

    .newCollection {
        h1 {
            margin-top: 1vw;
            margin-left: 36vw;
        }
    }

    .box1 { 
        .info4 {
            padding-top: 12.4375rem;
            padding-left: 15.0625rem;
            }
        .para2 {
            padding-left: 12rem;
        }
        .btn2 {
            width: 125px;
            height: 40px;
            background-color: #a88d7b;
            border: none;
            margin-left: 27.0625rem;
            margin-top: 4vw;
        }
    }

    .box2 {
        grid-gap: 2vw;

        .ourBlog {
            margin-left: 42vw;
        }
        .bottomBorder2 {
            width: 50px;
            height: 2px;
            background-color: #a88d7b;
            margin-left: 47vw;
            margin-top: 8vw;
            position: absolute;
        }
        .image6 {
            margin-left: 3vw;
    
            img {
                width: 490px;
                height: 390px;
            }
        }
    
        .content {
            margin-left: 0vw;
        }
        .content p {
            width: 95%;
            height: 239px;
            font-family: "Source Sans Pro";
            font-size: 15px;
            line-height: 1.67;
            text-align: left;
            color: #666666;
        }
        .lnr-arrow-right {
            position: absolute;
            margin-top: -4.2vw;
            margin-left: 8vw;
            width: 15px;
            height: 11px;
            font-size: 15px;
            line-height: 3.2;
            text-align: left;
            color: #a88d7b;
        }
    }

    .contactDetails {
        padding-right: 3vw;
    }

    // about page 
    .about-topBar {
        .shipping {
            font-size: 11px;
        }
    }

    .about-header h3 {
        margin: 13vw 48.5vw;
    }

    .aboutUs {
        margin: 4vw 0vw 10vw;
    
        .paragraphs {
            margin-top: 2vw;
            width: 524px;
            height: 89px;
            font-family: "Source Sans Pro";
            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.67;
            letter-spacing: normal;
            text-align: left;
            color: #666666;
        }

        .about-image {
            width: 390px;
            height: 379px;
            background-color: #666666;
            margin-top: 3vw;
            background-image: linear-gradient(#00000088, #000000da), url(../images/adults-black-and-white-casual.jpg);
            background-size: contain;
            background-position: center;
        }

        .borderBottom {
            margin-left: 16vw;
        }
    }

    .team {
        margin-left: 1vw;
    
        div {
            width: 230px;
            height: 260px;
        }
        .borderBottom2 {
            position: absolute;
            width: 50px;
            height: 2px;
            background-color: #ac907f;
            margin-left: 40vw;
            margin-top: -1vw;
        }

        p {
            margin: 3vw 7.2vw;
        }
    }

    
    .whatWeDo {
        margin: 4vw 0vw 10vw;
        .borderBottom {
            margin-left: 16vw;
            margin-top: -2vw;
        }

        .whatWeDo-image {
            width: 390px;
            height: 379px;
            background-size: contain;
        }
        .paragraphs {
            font-size: 14px;
        }
        p {
            width: 90%;
        }
    }

    // blog section

    .blog {
        margin: 4vw 1vw;

        div {
            width: 300px;
            height: 225px;
            background-color: #666666;
        }

        p {
            border-top: 1px solid #e6e6e6;
            width: 312px;
            height: 65px;
            font-family: "Source Sans Pro";
            font-size: 15px;
            line-height: 1.67;
            text-align: left;
            color: #666666;
        }

        h5 {
            line-height: 3.67;
        }
    }

    // contact page

    .contact-grid {
        div {
            width: 300px;
        }
    }

    form {
        textarea {
            width: 900px;
        }

        input {
            width: 434px;
        }        
    }
    
}

// shop page

.shop-bg {
    height: 250vh;
}

.wrapper p {
    width: 413px;
}

// end // 

@media only screen and (max-width:768px) {
    .topBar > div {
        font-size: 10px;

        .shipping {
            font-size: 10px;
            letter-spacing: 0.4px;
        }
    }

    nav {

        ul {
            margin-left: 3vw;
        }

        a {
            position: relative;
            font-family: Dosis;
            font-size: 13px;
            letter-spacing: 0.8px;
            text-align: left;
            color: #ffffff;
            text-decoration-line: none;
            text-transform: uppercase;
        }
    }

    .heading {
        font-size: 40px;
        margin-left: 15vw;
        margin-top: 10vw;
    }

    .intro {
        margin-left: 22vw;
        width: 500px; 
    }

    .btn {
        margin-left: 45vw;

        .btnText {
            margin-left: 3vw;
            margin-top: -2vw;
        }
    }

    .downArrow {
        margin-left: -12.5vw;
    }

    .featuredProducts {
        display: block;
        height: 60rem;

        h2 {
            margin-left: 33vw;
        }

        .bottomBorder {
            margin-left: 50vw;
            margin-top: -3vw;
        }

        .products {
            width: 15rem;
            margin-left: 38.5vw;
        }

        h5 {
            margin: 0vw 43vw;
        }

        h6 {
            margin: 1vw 50vw 5vw;
        }
    }

    .new {
        display: block;
        height: 55rem;

    .image4, 
    .image5 {
        width: 330px;
        height: 300px;
        margin-top: 20vw;
        margin-left: 22vw;
    }
    
    .men,
    .women {
        margin-left: 39vw;
    }

}

    .newCollection {

        h1 {
            margin-top: 5vw;
        }

        div {
            margin-left: 50vw;
            margin-top: 12vw;
        }
        
    }

    .box1 {
        .info4 {
            padding-top: 12.4375rem;
            padding-left: 5.0625rem;
        }

        .para2 {
            padding-left: 3rem;
            width: 580px;
        }

        .btn2 {
            margin-left: 17.0625rem;
        }
    }

    .box2 {
        display: block;
        height: 60rem;

        .ourBlog {
            margin-top: 2vw;
    }

    .bottomBorder2 {
        width: 50px;
        height: 2px;
        background-color: #a88d7b;
        margin-left: 49vw;
        margin-top: 8vw;
        position: absolute;
    }

    .image6 {
        margin-top: 0vw;
        padding-top: 10vw;
        width: 500px;

        img {
            width: 460px;
            height: 360px;
            margin-left: 16vw;
        }
    }

    .content {
        margin-top: 0;
        text-align: center;

        p,h5,h6 {
            width: 75%;
            margin-left: 15vw;
        }
    }
}
 
    .contact {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "none";
        height: 44rem;
    }

    .contactDetails {
        padding-top: 5vw;
        padding-left: 15vw;
    }

    .links {
        margin-top: 8vw;
        margin-left: 5vw;
        width: 80%;

        h2 {
            height: 15px;
            line-height: 2.6;
        }        
    }

    .shop {
        margin-top: -18vw;
        margin-left: 15vw;
    }

    .instagram {
        margin-top: -18vw;
    }
    
    // about page
    
    .about-header {

        h1 {
            margin: 19vw 34vw;
        }
        h3 {
            margin: 26vw 42vw;
        }

    }

    .aboutUs {
        display: block;
        height: 55rem;
        margin-left: 20vw;

        h1 {
            margin: 4vw 13vw;
        }

        .about-image {
            width: 390px;
            height: 379px;
            background-color: #666666;
            margin-top: 40vw;
            margin-left: 5vw;
        }

        .borderBottom {
            margin-left: 23vw;
        }

        p {
            margin-left: -8vw;
        }
    }

    .team {
        grid-template-columns: repeat(2, 1fr);
        height: 50rem;
        margin-left: 13vw;

        h2 {
            margin: 0 9vw;
        }

        p {
            margin: 6vw 12.8vw;
        }

        h1 {
            margin-top: -10.5vw;
            margin-left: 22vw;
        }

        .icons {
            margin: 10vw 14vw;
        }

        .borderBottom2 {
            margin-left: 34vw;
            margin-top: -3vw;
        }
    }

    .whatWeDo {
        display: block;
        height: 50rem;
        margin: 4vw 9vw 10vw;

        .whatWeDo-image {
            margin-top: 0vw;
            margin-left: 18vw;
    }

    .paragraphs {
        margin-top: 4vw;
        margin-left: 13vw;
    }

    h1 {
        margin: 4vw 17vw;
    }
    
    .borderBottom {
        margin-left: 27vw;
    }
}

    footer h1 {
        padding-top: 0vw;
        padding-left: 35vw;
    }
    // blog section 

    .blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 3vw 12vw;
        grid-gap: .5vw;

        div {
            width: 270px;
            height: 200px;
            background-color: #666666;
        }

        h5 {
            line-height: .67;
            margin-top: 7vw;
        }

        p {
            width: 260px;
        }
    }


    // contact page

    .about-topBar {
        font-size: 7px;

        .shipping {
            font-size: 7px;
        }
    
        .lang-cur {
            font-size: 7px;
        }
    }

    .contact-header {
        h1 {
            margin: 20vw 35vw;
        }

        h3 {
            margin: 27vw 44vw;
        }
    }

    .contact-grid {
        div {
            width: 230px;
            height: 150px;
        }

        h2 {
            font-size: 20px;
        }

        h6 {
            font-size: 13px;
            margin: 4vw -1vw;
        }
    }

    form {
        input {
            width: 324px;
        }

        textarea {
            width: 690px;
        }

        .btn3 {
            width: 125px;
            height: 35px;

            h1 {
                line-height: 1;
            }
        }

    }
}

@media only screen and (max-width:425px) {
    nav {
        ul{
            display: none;
        }
    }

    .aboutNav {
        display: none;
    }

    .topBar > div {
        .shipping {
            font-size: 10px;
            letter-spacing: -1px;
        }
    }

    .header-container {
        background-attachment: scroll;
    }

    .heading {
        font-size: 25px;
        margin-left: 5vw;
        margin-top: 10vw;
        width: 400px;
    }

    .intro {
        margin-left: 20vw;
        width: 265px;
    }

    .btn-1 {
        width: 136px;
        margin-left: 35vw;
        margin-top: 20vw;
    }

    .downArrow {
        display: none;
    }

    .featuredProducts {
        display: block;
        height: 45rem;

        h2 {
            margin-left: 12vw;
            font-size: 7vw;
            margin-top: -37vw;
        }

        .bottomBorder {
            margin-left: 44vw;
            margin-top: -24vw;
        }

        h5 {
            margin: 0vw 33vw;
            font-size: 4vw;
        }   
        
        h6 {
            margin: 1vw 45vw 11vw;
        }

        .products {
            width: 10rem;
            margin-left: 33vw;
        }
    }

    .newCollection {    
        h1 {
            margin-top: 1vw;
            margin-left: 24vw;
            font-size: 7vw;
        }

        div {
            margin-left: 48vw;
            margin-top: 15vw;
        }
    }

    .new {
        height: 40rem;

        .image4,
        .image5 {
            width: 240px;
            height: 220px;
            margin-top: 20vw;
            margin-left: 20vw;
        }
        .men,
        .women {
            margin-left: 41vw;
        }

    }

    .box1 {
        background-attachment: scroll;
        
        .info4 {
            padding-top: 10.4375rem;
            padding-left: 0.0625rem;
            font-size: 10vw;
            width: 400px;
        }

        .para2 {
            padding-left: 3rem;
            width: 310px;
        }

        .btn2 {
            margin-left: 10.0625rem;
            margin-top: 8vw;
            width: 98px;
            height: 33px;
        }
    }

    .box2 {
        height: 65rem;

        .ourBlog {
            margin-left: 26vw;
        }

        .bottomBorder2 {
            margin-left: 42vw;
            margin-top: 16vw;
        }

        .image6 {
            width: 300px;

            img {
                width: 290px;
                height: 290px;
                margin-left: 13vw;
                margin-top: 15vw;
            }
        }   

        .content {
            margin-left: 5vw;
            margin-top: 0;
            width: 300px;

            h1 {
                width: 100%;
            }

            h5 {
                line-height: 1.2;
            }

            p {
                width: 260px;
                height: 239px;
                // margin-right: 0;
            }
            
            h6 {
                margin-top: 41vw;
                line-height: 0.2;
            }
        }

        .lnr-arrow-right {
            position: absolute;
            margin-top: -15.2vw;
            margin-left: 19vw;
        }

    }

    #back2Top {
        font-size: 4vw;
    }


    .contact {
        display: block;
        height: 55rem;

        .contactDetails {
            padding-top: 5vw;
            padding-left: 4vw;
        }
        .shop {
            margin-top: 0vw;
            margin-left: 4vw;
        }

        .instagram {
            margin-top: 3vw;
            margin-right: 13vw;
            margin-left: 4vw;
        }

        .insta1,
        .insta2,
        .insta3,
        .insta4,
        .insta5,
        .insta6,
        .insta7,
        .insta8 {
            width: 60px;
            height: 60px;
        }
        
    }

    footer h1 {
        padding-top: 0vw;
        padding-left: 5vw;
        margin: 0;
        width: 275px;
        height: 14px;
        font-family: "Source Sans Pro";
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: center;
        display: block; 
        color: #666666;
    }

    .topnav {
        background-color: #333;
        overflow: hidden;
        display: block;

        a {
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;    
        }

        .active {
            background-color: $mushroom;
            color: white;
          }
        
        .icon {
            display: none;
        }

        a:hover {
            background-color: #555;
            color: white;
          }

        a:not(:first-child) {
            display: none;
        }

        a.icon {
            float: right;
            display: block;
          }  
    }
}

    .topnav.responsive {
        position: relative;

        a.icon {
            position: absolute;
            right: 0;
            top: 0;
          }

        a {
            float: none;
            display: block;
            text-align: left;
        }
    }
 
    
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }

@media only screen and (max-width:425px)  {
    .heading {
        margin-left: 12vw;
        width: 300px;
    }

    .intro {
        margin-left: 16vw;
    }

    .btn-1 {
        margin-left: 33vw;
    }

    .box1{
        .info4 {
            padding-top: 10.4375rem;
            padding-left: 3.0625rem;
            font-size: 10vw;
            width: 300px;
        }
    }
}

@media only screen and (max-width: 320px) {

    .heading {
        width: 270px;
    }

    .intro {
        margin-left: 12vw;
    }

    .btn-1 {
        margin-left: 30vw;
    }

    .featuredProducts {
        h2 {
            margin-left: 0vw;
        }
        .products {
            margin-left: 25vw;
        }

        h5 {
            margin: 0vw 25vw;
        }

        h6 {
            margin: 1vw 41vw 11vw;
        }
    }

    .newCollection h1 {
        margin-left: 13vw;
    }

    .new .image4, .new .image5 {
        margin-left: 9vw;
    }

    .box1 {
        .info4 {
            width: 250px;
        }

        .para2 {
            width: 242px;
        }

        .btn2 {
            margin-left: 8.0625rem;
        }
    }

    .box2 {
        .image6 img {
        width: 225px;
        height: 230px;
        margin-left: 13vw;
        margin-top: 15vw;
        }
    }

    .box2 {

        .content p {
            width: 236px;
            height: 290px;
        }
    }
}

