// ********************** style extenders **********************

// styling the header section

.header-container {
    width: 100%;
    height: 100vh;
    background-color: #666666;
    background: linear-gradient(#66666688,#66666680), url(../images/woman-streetwear-crouching.jpg);
    background-size: cover;
    background-position: center;
}

// the top bar of my header section
.topBar {
    width: 100%;
    height: 53px;
    background-color: #2d2827;
}

.lang-cur {
    width: 13px;
    height: 9px;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.shipping {
  width: 349px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
}

.topBar-icons {
  width: 349px;
  height: 9px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
}

// end //

// styling nav bar //

.home {
  margin-left: 3vw;
}

.lookBook {
  margin-right: 3vw;
}

.logo {
  width: 117px;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 5.5px;
  text-align: left;
  color: #fffefe;
}

// end //

// styling the opening heading //

.heading {
  width: 597px;
  height: 38px;
  font-family: Dosis;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 27vw;
  margin-top: 7vw;
}

.intro {
  width: 924px;
  height: 39px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6;
  margin-left: 19vw;
}

.btn {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #a88d7b;
  margin-left: 44vw;
  margin-top: 5vw;
  border: none;
}

.btnText {
  width: 87px;
  height: 10px;
  font-family: "Source Sans Pro";
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  margin-left: 2vw;
  margin-top: -1vw;
  text-transform: uppercase;
}

.downArrow {
  width: 29px;
  height: 16px;
  font-family: Linearicons-Free;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-top: 18vw;
  margin-left: -5.8vw;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

@keyframes arrow {
  from {
    margin-top: 18vw;
    transition: 1s;
  }

  to {
    margin-top: 19vw;
    transition: 1s;
  }
}

// end

.featuredProjects {
  width: 1900px;
  height: 704px;
}

.featured {
  width: 313px;
  height: 24px;
  font-family: "Source Sans Pro";
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  margin-left: 39vw;
  position: absolute;
}

.bottomBorder {
  width: 50px;
  height: 2px;
  background-color: #a88d7b;
  margin-left: 48vw;
  margin-top: 6vw;
  position: absolute;
}

.info1 {
  position: absolute;
  margin-top: 34vw;
  margin-left: 10vw;
  width: 158px;
  height: 18px;
  font-family: "Source Sans Pro";
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: #333333;}

.price1 {
  position: absolute;
  margin-top: 36vw;
  margin-left: 13vw;
  width: 52px;
  height: 11px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}


.info2 {
  position: absolute;
  margin-top: 34vw;
  margin-left: 43vw;
  width: 151px;
  height: 18px;
  font-family: "Source Sans Pro";
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.price2 {
  position: absolute;
  margin-top: 36vw;
  margin-left: 46vw;
  width: 52px;
  height: 11px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}

.info3 {
  position: absolute;
  margin-top: 34vw;
  margin-left: 75vw;
  width: 172px;
  height: 18px;
  font-family: "Source Sans Pro";
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.4;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
}

.price3 {
  position: absolute;
  margin-top: 36vw;
  margin-left: 79vw;
  width: 52px;
  height: 11px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.2;
  letter-spacing: normal;
  text-align: center;
  color: #999999;
}