// ********************** style extenders **********************

// styling the header section

.header-container {
    width: 100%;
    height: 100vh;
    background-color: #666666;
    background: linear-gradient(#66666688,#66666680), url(../images/woman-streetwear-crouching.jpg);
    background-size: cover;
    background-position: center;
}

// the top bar of my header section
.topBar {
    width: 100%;
    height: 53px;
    background-color: #2d2827;
}

.lang-cur {
    width: 13px;
    height: 9px;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
}

.shipping {
  width: 349px;
  height: 9px;
  font-family: "Source Sans Pro";
  font-size: 12px;
  font-weight: 300;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
}

.topBar-icons {
  width: 349px;
  height: 9px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: 2.4px;
  text-align: left;
  color: #999999;
}

// end //

// styling nav bar //

.home {
  margin-left: 3vw;
}

.lookBook {
  margin-right: 3vw;
}

.logo {
  width: 117px;
  height: 21px;
  font-family: Dosis;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 5.5px;
  text-align: left;
  color: #fffefe;
}

// end //

// styling the opening heading //

.heading {
  width: 597px;
  height: 38px;
  font-family: Dosis;
  font-size: 50px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.96;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 27vw;
  margin-top: 7vw;
}

.intro {
  width: 924px;
  height: 39px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #e6e6e6;
  margin-left: 19vw;
}
